<div id="elm-vinculi-explorer" class="container-fluid">
</div>
<script type="text/javascript">
    const socket_url = "<%= @socket_url %>"
    const node_uuid = "<%= @node_uuid %>"
    const node_labels = "<%= @node_labels %>".split("+")
    const server_url = "<%= @server_url %>"
</script>