<div id="elm-vinculi-explorer" class="container-fluid">
</div>
<script type="text/javascript">
    window.socketUrl = "<%= @socket_url %>"
    window.nodeUuid = "<%= @node_uuid %>"
    window.nodeLabels = "<%= @node_labels %>".split("+")
    window.serverUrl = "<%= @server_url %>"
    window.userToken = "<%= assigns[:user_token] %>"
</script>